# shared with .npmignore
# different than .npmignore
node_modules
package-lock.json
yarn.lock
pnpm-lock.yaml
# /README.md is 9bFlayer's own (upstream generated it from docs/README.md at publish time)
versions/
server_jars/
test/server_*
.vscode
.DS_Store
launcher_accounts.json
data